<?xml version="1.0"?>

<model>
  <name>SLAM robot</name>
  <version>1.0</version>
  <sdf version='1.8'>robot_model.sdf</sdf>

  <author>
    <name>Kuba Sawicki</name>
    <email>kuba_sawicki@onet.pl</email>
  </author>

  <description>
    Model of a diffrential drive SLAM robot
  </description>
</model>