<?xml version="1.0"?>
<model>
    <name>SLAM BOT</name>
    <version>1.0</version>
    <sdf version='1.4'>model.sdf</sdf>

    <author>
        <name>Jakub Sawicki</name>
        <email>kuba_sawicki@onet.pl</email>
    </author>

    <description>
        My amazing robot that will make me a good engineer
    </description>
</model>